.story-preview{
    background-color: #fff;
    width: 614px;
    border: 1px solid #dbdbdd;
    border-radius: 4px;
    margin-top: 30px ;
    .like-count{
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
    font-size: 14px;
    font-weight: 600;
    padding-left: 16px;
    }
}
.story-preview-img{
    width: 100%;
}

